<div class="header-search">
  <div class="search-desktop">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search">
      <div class="field">
        <input
          class="search__input field__input"
          id="{{ input_id }}"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
        >
        <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
          <span class="svg-wrapper">
            {{- 'icon-search.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    </form>
  </div>

  <details-modal class="search-mobile">
    <details>
      <summary
        class="header__icon header__icon--search modal__toggle"
        aria-haspopup="dialog"
        aria-label="{{ 'general.search.search' | t }}"
      >
        <span class="mobile-search-icon">
          {{- 'icon-search.svg' | inline_asset_content -}}
        </span>
      </summary>
      <div class="search-modal modal__content gradient" role="dialog" aria-modal="true">
        <div class="modal-overlay"></div>
        <div class="search-modal__content" tabindex="-1">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            <div class="field">
              <input
                class="search__input field__input"
                id="{{ input_id }}"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.search' | t }}"
              >
              <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
              <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-search.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </form>

          <button
            type="button"
            class="search-modal__close-button modal__close-button"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      </div>
    </details>
  </details-modal>
</div>

{%-style-%}
  @media (max-width: 768px) {
  .search-desktop {
    display: none;
  }
  .search-mobile {
    display: block;
  }
}

.mobile-search-icon {
  background-color: #e10600;
  padding: 12px;
  border-radius: 8px;
}

.mobile-search-icon:hover {
  background-color: darkred;
  transform: scale(1.05);
}
{%-endstyle-%}